<div class="row main-block">
  <div class="col-lg-4 col-md-6 col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Weather forecast
      </div>
      <div class="panel-body">
        <p *ngIf="!forecast"><em>Loading...</em></p>
        <div *ngIf="forecast">
          <div class="row">
            <div class="col-sm-2">
              <img [src]="forecast.imageUrl">
            </div>
            <div class="col-sm-10">
              <div class="main-info">
                <span class="city bold">{{forecast.place}},{{forecast.country}}</span> <img [src]="forecast.countryImage">
                <i class="description bold">{{forecast.weatherDescription}}</i>
              </div>
              <div class="temperature-info">
                <span class="badge">{{forecast.temperature}} {{currentUnit}}</span> temperature from
                {{forecast.minTemperature}} to {{forecast.maxTemperature}} {{currentUnit}}, {{forecast.windSpeed}} m/s, {{forecast.pressure}} hPa
                overcast {{forecast.overcast}}%, 
                humidity {{forecast.humidity}}%
              </div>
              <div>
                <i class="fa fa-sun"></i> {{toLocalTime(forecast.sunrise)}} <i class="fas fa-arrow-up"></i> {{toLocalTime(forecast.sunset)}} <i class="fas fa-arrow-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
